<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="AutismApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Autism Parents Connect by Anitha</title>
  <!-- Included CSS Files  -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <!-- Included JS Files  -->
  <script src="javascripts/modernizr.foundation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script src="javascripts/app.js" charset="utf-8"></script>
</head>

<body ng-controller="AutismCtrl as ctrl">
  <header ng-include="'partials/logo.html'"></header>
  <div class="row page_wrap" style="margin-top:-2px">
    <div class="twelve columns">
      <!-- navigation -->
      <div class="row" ng-include="'partials/navigation.html'"></div>
      <!-- END navigation -->
      <!-- ****************************BLOG SECTION***************************************** -->
      <div class="row">
        <div class="heading_dots hide-for-small" style="margin-bottom:0px">
          <h1 class="heading_supersize"><span class="heading_center_bg">BLOG'S SECTION</span></h1>
        </div>
        <table>
          <thead>
            <tr>
              <th width="200">ID</th>
              <th>Heading</th>
              <th width="150">Posted By</th>
              <th width="150">Delete</th>
            </tr>
          </thead>
          <tbody ng-repeat="blog in ctrl.blogs">
            <tr >
              <td>{{ blog._id}}</td>
              <td>{{ blog.heading }}</td>
              <td>{{ blog.posted_by }}</td>
              <td><button ng-click="ctrl.deleteBlog(blog)" class="button">X</button></td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- *********************************END BLOG SECTION************************************ -->

      <!-- *********************************EVENT SECTION************************************ -->
      <div class="row">
        <div class="heading_dots hide-for-small" style="margin-bottom:0px">
          <h1 class="heading_supersize"><span class="heading_center_bg">Events SECTION</span></h1>
        </div>
        <table>
          <h1>Events</h1>
          <thead>
            <tr>
              <th width="200">ID</th>
              <th>Event Title</th>
              <th width="150">Image</th>
              <th width="150">Delete</th>
            </tr>
          </thead>
          <tbody ng-repeat="event in ctrl.events">
            <tr >
              <td>{{ event._id}}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.image }}</td>
              <td><button ng-click="ctrl.deleteEvent(event)" class="button">X</button></td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- **********************************ADD NEW EVENT********************************** -->



      <!-- ******************************END EVENT SECTION**************************************** -->

      <div class="row footer" ng-include="'partials/footer.html'"> </div>

    </div>
  </div>
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/foundation.min.js" type="text/javascript"></script>
  <script src="javascripts/app1.js" type="text/javascript"></script>
</body>
</html>
