<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="AutismApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Autism Parents Connect by Anitha</title>
  <!-- Included CSS Files  -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <!-- Included JS Files  -->
  <script src="javascripts/modernizr.foundation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script src="javascripts/app.js" charset="utf-8"></script>
</head>

<body ng-controller="AutismCtrl as ctrl">
  <header ng-include="'partials/logo.html'"></header>
  <div class="row page_wrap" style="margin-top:-2px; padding:1%;">
    <div class="twelve columns">
      <!-- navigation -->
      <div class="row">
        <div class="twelve columns header_nav" style="margin-bottom:0; box-shadow: none">
          <div class="twelve columns">
            <ul id="menu-header" class="nav-bar horizontal">
              <li><a href="index.html">Home</a></li>
              <li><a href="blog.html">Connect</a></li>
              <li class="has-flyout">
                <a href="#">Shop</a><a href="#" class="flyout-toggle"></a>
                <ul class="flyout">
                  <li class="has-flyout"><a href="products-page.html">Calming Toys & Products</a></li>
                  <li class="has-flyout"><a href="products-page.html">Chewables - Oral Motor</a></li>
                  <li class="has-flyout"><a href="products-page.html">Sleep Aids</a></li>
                  <li class="has-flyout"><a href="products-page.html">Educational Toys </a></li>
                </ul>
              </li>
              <li ><a href="galleries.html">View Events Gallery</a></li>
              <li ><a href="contact.html">Contact Page</a></li>
            </ul>
           <script type="text/javascript">
             $('ul#menu-header').nav-bar();
           </script>
          </div>
        </div>
      </div><!-- END navigation -->
      <!-- END navigation -->
      <!-- ****************************BLOG SECTION***************************************** -->
      <div class="row">
        <div class="heading_dots hide-for-small" style="margin-bottom:0px">
          <h1 class="heading_supersize"><span class="heading_center_bg">BLOG'S SECTION</span></h1>
        </div>
        <table>
          <thead>
            <tr>
              <th width="200">ID</th>
              <th>Heading</th>
              <th width="150">Posted By</th>
              <th width="150">Delete</th>
            </tr>
          </thead>
          <tbody ng-repeat="blog in ctrl.blogs">
            <tr >
              <td>{{ blog._id}}</td>
              <td>{{ blog.heading }}</td>
              <td>{{ blog.posted_by }}</td>
              <td style="text-align:center;"><button ng-click="ctrl.deleteBlog(blog)" class="button"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- *********************************END BLOG SECTION************************************ -->

      <!-- *********************************EVENT SECTION************************************ -->
      <div class="row">
        <div class="heading_dots hide-for-small" style="margin-bottom:0px">
          <h1 class="heading_supersize"><span class="heading_center_bg">Events SECTION</span></h1>
        </div>
        <table style="margin:auto !important;">
          <h1 style="text-align: center;">Events</h1>
          <thead>
            <tr>
              <th >Event Title</th>
              <th >Image</th>
              <th >Delete</th>
            </tr>
          </thead>
          <tbody ng-repeat="event in ctrl.events">
            <tr >

              <td>{{ event.event_title }}</td>
              <td>{{ event.event_image }}</td>
              <td style="text-align:center;"><button ng-click="ctrl.deleteEvent(event)" class="button"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
        </table>

      </div>

      <!-- **********************************ADD NEW EVENT********************************** -->
    <div class="row">
      <form style="padding:1%;" ng-submit="ctrl.createEvent()" id="myForm">
        <h1 style="text-align: center;">Add New Event</h1>
        <div class="grid-container">
          <div class="grid-x grid-padding-x">

            <div class="medium-6 cell">
              <label>Event Title
                <input type="text" ng-model="ctrl.event_title" placeholder="Enter event title here">
              </label>
            </div>

            <div class="medium-6 cell">
              <label>Image Address
                <input type="text" ng-model="ctrl.event_image" placeholder="Add Image Path">
              </label>
            </div>

            <div class="medium-6 cell">
             <label>
               Event Details
               <textarea ng-model="ctrl.event_details" placeholder="Type here" rows="5" required></textarea>
             </label>
            </div>

            <input class="button medium round primary" type="submit" value="Add Event">
            <a onclick="myFunction()" class="button medium round secondary">Clear Form</a>
          </div>
        </div>
      </form>
    </div>
    <script>
      function myFunction() {
          document.getElementById("myForm").reset();
      }
    </script>


      <!-- ******************************END EVENT SECTION**************************************** -->

      <div class="row footer" ng-include="'partials/footer.html'"> </div>

    </div>
  </div>
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/foundation.min.js" type="text/javascript"></script>
  <script src="javascripts/app1.js" type="text/javascript"></script>
</body>
</html>
