<div class="seven columns">
  <!-- Write Post Section -->
  <div class="blog_post" style="background-color: #f5f6f7;border: 1px solid #dddfe2;border-radius: 2px 2px 0 0;"><!-- Begin Blog Post -->
    <div class="heading_dots_grey">
      <h3><span class="heading_bg" style="background-color: #f5f6f7;">Whats New?</span></h3>
    </div>
    <img src="images/new.png" alt="desc" style="width:10%; float: left;" /><p><a ng-click="ctrl.changeInclude('blog_new')" class="button large round">Write Post</a> </p>
    <p>Have a question or something interesting to share? Connect with your network.
  </div><!-- End Write Post Section -->

  <div ng-repeat="blog in ctrl.blogs"><!-- Begin Blog Post -->
    <div class="blog_post">
      <div class="heading_dots_grey">
        <h3><span class="heading_bg" style="line-height: normal;">{{ blog.heading }}</span></h3>
      </div>
      <img src="{{ blog.image }}" alt="desc" style="width:10%" />
      <p><em>{{ blog.date | date:'MM/dd/yyyy @ h:mm:ssa' }} | Posted by: <a href="#">{{ blog.posted_by }}</a> | <a href="#">{{blog.comments.length}} Comments</a></em></p>
      <p>{{ blog.post_body| limitTo: 200  }}
        <a ng-click="ctrl.getBlog(blog)" >Continue Reading &raquo;</a></p>
    </div>
  </div><!-- END blog post -->
  <div data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true"></div>
</div><!-- END row posts -->

<!-- Sidebar -->
<div class="five columns">
  <h3>Shop Online</h3>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/shop.jpg" style="width:100%" alt="desc"><a href="#"><h5>Sensory & OT</h5></a></div></div>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/calm.jpg" style="width:100%" alt="desc"><a href="#"><h5>Calming Products</h5></a></div></div>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/chew.jpg" style="width:100%" alt="desc"><a href="#"><h5>Oral Motor</h5></a></div></div>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/toy.jpg" style="width:100%" alt="desc"><a href="#"><h5>Toys & Gifts</h5></a></div></div>
  <h3>Events</h3>
  <ul class="accordion">
    <li class="active">
      <div class="title"><h5>Ross Park Mall Autism </h5> </div>
      <div class="content">
        <p>Friendly Santa Time <br/><em>December 2 @ 8:00 am - 10:00 am</em><br/>Ross Park Mall, 1000 Ross Park Drive Pittsburgh</p>
      </div>
    </li>
    <li>
      <div class="title"> <h5>South Hills Village Autism </h5></div>
      <div class="content">
        <p>Friendly Santa Time <br/><em>December 2 @ 8:00 am - 10:00 am</em><br/>South Hills Village, 301 South Hills Village Pittsburgh</p>
      </div>
    </li>
    <li>
      <div class="title"><h5>Monroeville Mall Autism </h5></div>
      <div class="content">
        <p>Friendly Santa Time <br/><em>December 9 @ 9:00 am - 11:00 am</em><br/>Monroeville Mall, 200 Mall Circle Drive Monroeville</p>
      </div>
    </li>
  </ul>
</div>
<!-- END Sidebar -->
