<!-- posts -->
<div class="seven columns">
  <div class="blog_post"><!-- Begin Blog Post -->
    <div class="heading_dots_grey">
      <h3><span class="heading_bg">Lorem Ipsum</span></h3>
    </div>
    <img src="images/question.png" alt="desc" style="width:10%" />
    <p><em>20th oct 2012 | Posted by: <a href="#">Admin</a> | <a href="#">5 Comments</a></em></p>

    <p>Sed vitae nisi leo. Nulla tincidunt, turpis non gravida pharetra, diam sapien posuere massa, non luctus leo mauris at sapien. Donec ut fermentum eros. Vestibulum placerat dui sit amet quam.
      <a ng-click="ctrl.changeInclude('blog_single')">Continue Reading &raquo;</a></p>
  </div><!-- END blog post -->
</div><!-- END row posts -->

<!-- Sidebar -->
<div class="five columns">
  <h3>Shop Online</h3>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/shop.jpg" style="width:100%" alt="desc"><a href="#"><h5>Sensory & OT</h5></a></div></div>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/calm.jpg" style="width:100%" alt="desc"><a href="#"><h5>Calming Products</h5></a></div></div>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/chew.jpg" style="width:100%" alt="desc"><a href="#"><h5>Oral Motor</h5></a></div></div>
  <div class="six columns"><div class="panel" style="padding:3px"><img src="images/toy.jpg" style="width:100%" alt="desc"><a href="#"><h5>Toys & Gifts</h5></a></div></div>
  <h3>Events</h3>
  <ul class="accordion">
    <li class="active">
      <div class="title"><h5>Ross Park Mall Autism </h5> </div>
      <div class="content">
        <p>Friendly Santa Time <br/><em>December 2 @ 8:00 am - 10:00 am</em><br/>Ross Park Mall, 1000 Ross Park Drive Pittsburgh</p>
      </div>
    </li>
    <li>
      <div class="title"> <h5>South Hills Village Autism </h5></div>
      <div class="content">
        <p>Friendly Santa Time <br/><em>December 2 @ 8:00 am - 10:00 am</em><br/>South Hills Village, 301 South Hills Village Pittsburgh</p>
      </div>
    </li>
    <li>
      <div class="title"><h5>Monroeville Mall Autism </h5></div>
      <div class="content">
        <p>Friendly Santa Time <br/><em>December 9 @ 9:00 am - 11:00 am</em><br/>Monroeville Mall, 200 Mall Circle Drive Monroeville</p>
      </div>
    </li>
  </ul>
</div>
<!-- END Sidebar -->
