<div class="row">
  <div class="twelve columns">
  <div class="blog_post"><!-- Begin Blog Post -->
        <div class="heading_dots_grey  hide-for-smal"><h1 class="heading_supersize" style="margin-bottom:0"><span class="heading_bg"> LOREM IPSUM </span></h1></div>
         <p class="post_meta"><em>20th oct 2012 | Posted by: <a href="#">Admin</a> | <a href="#">5 Comments</a></em></p>
        <img src="images/demo2_small.jpg" alt="desc" style="width:100%; margin-bottom: 25px" />


       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor erat, hendrerit at auctor vitae, gravida id diam. Maecenas eget augue velit. Phasellus congue vestibulum turpis, et elementum nulla fringilla vel. Proin ac ante massa. Ut at ligula erat, ornare dapibus quam. Suspendisse eget felis vel erat accumsan elementum ac ac libero. Mauris bibendum quam euismod nibh pellentesque tincidunt. Maecenas luctus magna ut turpis varius scelerisque pulvinar mauris fringilla. In ornare, erat et posuere ultrices, velit leo sodales ante, vitae tincidunt arcu dolor sodales velit. Ut nec elit tortor, eget blandit erat. Proin hendrerit neque sit amet ante dapibus ac viverra tortor semper. </p>
  </div><!-- END blog post -->
  </div><!-- END row blog -->
</div>
