<div class="row">
  <div class="twelve columns header_nav" style="margin-bottom:0; box-shadow: none">
    <div class="twelve columns">
      <ul id="menu-header" class="nav-bar horizontal">
        <li><a href="index.html">Home</a></li>
        <li><a href="blog.html">Connect</a></li>
        <li class="has-flyout">
          <a href="#">Shop</a><a href="#" class="flyout-toggle"></a>
          <ul class="flyout">
            <li class="has-flyout"><a href="products-page.html">Calming Toys & Products</a></li>
            <li class="has-flyout"><a href="products-page.html">Chewables - Oral Motor</a></li>
            <li class="has-flyout"><a href="products-page.html">Sleep Aids</a></li>
            <li class="has-flyout"><a href="products-page.html">Educational Toys </a></li>
              <!-- <li class="has-flyout"><a href="blog.html">Blog</a></li>
              <li class="has-flyout"><a href="blog_single.html">Blog Single Page</a></li>
              <li class="has-flyout"><a href="product-single.html">Product Single</a></li> -->
          </ul>
        </li>
        <li class=""><a href="galleries.html">View Events Gallery</a></li>
        <li class=""><a href="contact.html">Contact Page</a></li>
      </ul>
      <script type="text/javascript">
        $('ul#menu-header').nav-bar();
      </script>
    </div>
  </div>
  </div><!-- END Header -->
